@()

    @main("Welcome to Play") {
        <div class="row">
            <div class="col-sm">
                <div class="starter-template">
                    <h2>REST log collector</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Username</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted">Login with your email.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
            <div class="col-sm"></div>
        </div>
    }
